h1 {
    color: Green;
    background-color: HoneyDew;
}

p {
    background-color: HoneyDew;
}

ul {
    background-color: HoneyDew;
}

strong {
    color: Teal;
    background-color: LemonChiffon;
}

a {
    color: Teal;
}
@font-face {
    font-family: 'KolkerBrush-Regular';
    src: url('fonts/KolkerBrush-Regular.ttf');
}
#FTS{
    font-family: 'KolkerBrush-Regular';
    font-size: 40px;
}