.abas {
  height: 300px;
  width: 300px;
  
}

a {
  font-weight: 200;
  font-family: Helvetica;
  text-decoration: none;
  text-transform: uppercase;
  color: #151814;
}
a:visited {
  color: #858C7B;
}
a:hover {
  color: #151814;
  text-shadow: #858C7B;
  text-transform: uppercase;
  font-weight: normal;
}
